/* highest level of scope */
:root {
  --color_0: 255,255,255;
  --color_27: 179,130,230;
  --color_1: 255,255,255;
  --color_2: 0,0,0;
  --color_3: 237,28,36;
  --color_4: 0,136,203;
  --color_5: 255,203,5;
  --color_6: 114,114,114;
  --color_7: 176,176,176;
  --color_8: 255,255,255;
  --color_28: 122,28,217;
  --color_9: 114,114,114;
  --color_10: 176,176,176;
  --color_11: 255,255,255;
  --color_12: 243,243,243;
  --color_13: 223,223,223;
  --color_14: 62,62,62;
  --color_15: 38,38,38;
  --color_16: 205,241,228;
  --color_17: 160,226,202;
  --color_18: 120,170,151;
  --color_29: 81,19,145;
  --color_19: 80,113,101;
  --color_20: 40,57,51;
  --color_21: 169,182,247;
  --color_22: 126,145,238;
  --color_23: 14,50,230;
  --color_24: 9,33,153;
  --color_25: 5,17,77;
  --color_30: 41,9,72;
  --color_31: 160,226,202;
  --color_32: 110,197,165;
  --color_33: 20,168,114;
  --color_34: 13,112,76;
  --color_35: 7,56,38;
  --font_0: normal normal normal 250px/1.4em barlow-medium,barlow,sans-serif;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  --font_2: normal normal normal 85px/1.4em barlow-medium,barlow,sans-serif;
  --font_3: normal normal normal 88px/1.4em barlow-extralight,barlow,sans-serif;
  --font_4: normal normal normal 75px/1.4em barlow-extralight,barlow,sans-serif;
  --font_5: normal normal bold 24px/1.4em poppins-extralight,poppins,sans-serif;
  --font_6: normal normal bold 14px/1.4em poppins-extralight,poppins,sans-serif;
  --font_7: normal normal normal 22px/1.4em barlow-medium,barlow,sans-serif;
  --font_8: normal normal normal 16px/1.4em barlow-extralight,barlow,sans-serif;
  --font_9: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
  --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  --wix-ads-height: 0px;
  --wix-ads-top-height: 0px;
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  --minViewportSize: 320;
  --color_26: 207,172,242;
  --maxViewportSize: 1920;
}


/* Setting these rules for HTML elements allows them to align properly 
on any DOM and is a part of facilitating the site's responsiveness */
a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, 
center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, 
form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, 
legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, 
strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.bg_color{
  background-color: rgba(var(--bg,var(--color_11)),var(--alpha-bg,1));
}

.bg_media_color{
  background-color: var(--bg-overlay-color);
  background-image: var(--bg-gradient);
}

.bg_layers .bg_media {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.bg_media{
  height: 100%;
}

.display_contents{
  display: contents;
}

/* "Html" is the second highest level of scope */
body, html {
  height: 100%;
}

/* body is the third highest level of scope */
body {
  overflow-x: auto;
  overflow-y: scroll;
  margin: 0;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Arial,Helvetica, sans-serif;
  font-size: 10px;
}
/* Site_container1 is the fourth highest level of scope */
.site_content_container {
  position: relative;
}

#site_content {
  margin: 0 auto;
    min-height: 100%;
    position: relative;
}

#site_pages {
--transition-duration: 700ms;
}

/* starts the grid display format */
.transition_group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.transition_group>div {
  align-self: stretch!important;
  justify-self: stretch!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'lulo-clean-w01-one-bold';
  src: local('lulo-clean-w01-one-bold') url('./fonts/lulo-clean-w01-one-bold.ttf') format('truetype');
}

/* starting new section here */
/* 
#nvemy {
  --bg: 255,255,255;
  --alpha-bg: 1;
  --shc-mutated-brightness: 128,128,128;
}

#comp-ka50ygty1 {
  height: auto;
  width: auto;
  align-self: stretch;
  justify-self: stretch;
  position: relative;
  grid-area: 5/1/6/2;
}

.comp-ka50ygty1-container {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

#comp-ka50ygty1_r_comp-k9ttd4g7 {
  --bg: 255,255,255;
  --alpha-bg: 1;
}
#ourWork {
  --bg: 255,255,255;
  --alpha-bg: 1;
}

#comp-ka50ygty1_r_comp-k9ttd4g7 {
  height: auto;
  min-height: 343.1171875px;
  align-self: stretch;
  justify-self: stretch;
  position: relative;
  grid-area: 1/1/2/2;
}
#ourWork {
  height: auto;
  min-height: 343.1171875px;
  align-self: stretch;
  justify-self: stretch;
  position: relative;
  grid-area: 1/1/2/2;
}

.comp-ka50ygty1_r_comp-k9ttd4g7-container {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: minmax(343.117px,max-content);
  grid-template-columns: 1fr 0.7fr;
}
.ourWork-container {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: minmax(343.117px,max-content);
  grid-template-columns: 1fr 0.7fr;
}

._1dFba {
  pointer-events: none!important;
}

._1dFba>* {
  pointer-events: auto;
}

._3K0C-, .bgSectionColor {
  background-color: rgba(var(--bg,var(--color_11)),var(--alpha-bg,1));
}

#comp-ka50ygty1_r_comp-k9ttd4hy2:not([data-screen-in-hide="done"]) {
  opacity: 0;
}

#comp-ka50ygty1_r_comp-k9ttd4hy2 {
  --fontStyle: normal;
  --color: var(--color_15);
  --alpha-color: 1;
  --textScale__minFontSize: 35;
  --fontWeight: normal;
  --fontSize: 85px;
  --fontFamily: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
  --textScale__maxFontSize: 65;
  --textAlign: left;
  --lineHeight: 1.4em;
  --letterSpacing: 0em;
}

#comp-ka50ygty1_r_comp-k9ttd4hy2 {
  height: auto;
  width: 90.67036819415198%;
  align-self: center;
  justify-self: center;
  position: relative;
  margin-left: 0%;
  margin-right: 0.6459242485260747%;
  margin-top: -26.09400000000005px;
  margin-bottom: 0px;
  grid-area: 1/1/2/2;
}

.textRules {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: start;
  pointer-events: none;
  min-height: var(--min-height);
  min-width: var(--min-width);
}

.textRules>* {
  pointer-events: auto;
}

#comp-ka50ygty1_r_comp-k9ttd4hy2 p, #comp-ka50ygty1_r_comp-k9ttd4hy2 h1, #comp-ka50ygty1_r_comp-k9ttd4hy2 h2, #comp-ka50ygty1_r_comp-k9ttd4hy2 h3, #comp-ka50ygty1_r_comp-k9ttd4hy2 h4, #comp-ka50ygty1_r_comp-k9ttd4hy2 h5, #comp-ka50ygty1_r_comp-k9ttd4hy2 h6, #comp-ka50ygty1_r_comp-k9ttd4hy2 ul, #comp-ka50ygty1_r_comp-k9ttd4hy2 ol {
  color: #262626;
  font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
  font-weight: normal;
  font-size: calc(35px + (65 - 35) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
  font-style: normal;
  text-align: left;
  letter-spacing: 0em;
  line-height: 1.4;
  min-height: 0vw;
}

.textRules blockquote, .textRules h1, .textRules h2, .textRules h3, .textRules h4, .textRules h5, .textRules h6, .textRules p, blockquote {
  margin: 0;
}

.textRules blockquote, .textRules h1, .textRules h2, .textRules h3, .textRules h4, .textRules h5, .textRules h6, .textRules p {
  line-height: normal;
  letter-spacing: normal;
}

.font_5 {
  font: var(--font_5);
  color: rgb(var(--color_0));
  letter-spacing: 0em;
}

#comp-ka50ygty1_r_comp-k9ttd4hw {
  --rd: 999px 999px 999px 999px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --horizontalPadding: 15px;
  --verticalPadding: 10px;
  --fnt: normal normal bold 16px/1.4em barlow-extralight,barlow,sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_15);
  --alpha-txt: 1;
  --bg: var(--color_31);
  --brd: var(--color_15);
  --brw: 1px;
  --bgh: var(--color_15);
  --brdh: var(--color_11);
  --txth: var(--color_11);
  --alpha-txth: 1;
  --bgd: 204,204,204;
  --txtd: 255,255,255;
  --alpha-txtd: 1;
  --alpha-bgd: 1;
  --alpha-brdd: 1;
  --alpha-brdh: 1;
  --alpha-brd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --boxShadowToggleOn-shd: none;
  --brdd: 204,204,204;
  --shc-mutated-brightness: 80,113,101;
  --label-align: center;
  --label-text-align: center;
}

#comp-ka50ygty1_r_comp-k9ttd4hw {
  min-height: 245px;
  height: auto;
  min-width: 0px;
  width: 245px;
  max-width: 99999px;
  align-self: start;
  justify-self: end;
  position: relative;
  margin-left: 0px;
  margin-right: 186.21856249999996px;
  margin-top: 4.598243953884828%;
  margin-bottom: 0%;
  grid-area: 1/2/2/3;
}

._3vc75 {
  display: var(--display);
  --display: grid;
  grid-template-columns: minmax(0,1fr);
}

._3vc75[aria-disabled=false] ._3wqEk {
  background-color: var(--corvid-background-color,rgba(var(--bg,var(--color_17)),var(--alpha-bg,1)));
  border: solid var(--corvid-border-color,rgba(var(--brd,var(--color_15)),var(--alpha-brd,1))) var(--corvid-border-width,var(--brw,0));
  cursor: pointer!important;
}

._3vc75 ._3wqEk {
  border-radius: var(--corvid-border-radius,var(--rd,0));
  transition: var(--trans1,border-color .4s ease 0s,background-color .4s ease 0s);
  box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
  position: relative;
  padding-left: var(--horizontalPadding,0);
  padding-right: var(--horizontalPadding,0);
  padding-top: var(--verticalPadding,0);
  padding-bottom: var(--verticalPadding,0);
  width: auto;
}

._3wqEk {
  text-align: initial;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  justify-content: var(--label-align);
  min-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

._3vc75 ._1Qnnq {
  text-align: var(--label-text-align);
}

._3vc75 ._1Qnnq {
  font: var(--fnt,var(--font_5));
  transition: var(--trans2,color .4s ease 0s);
  position: relative;
  color: var(--corvid-color,rgb(var(--txt,var(--color_15))));
}

#comp-l2lk0o9n {
  --bg: var(--color_11);
  --alpha-bg: 0;
  --bg-overlay-color: rgb(0, 0, 0);
  --bg-gradient: none;
}

#comp-l2lk0o9n {
  height: auto;
  min-height: 150px;
  align-self: stretch;
  justify-self: stretch;
  position: relative;
  grid-area: 7/1/8/2;
}

.comp-l2lk0o9n-container {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.bgLayers {
  left: 0;
  overflow: hidden;
  -webkit-mask-image: var(--mask-image,none);
  mask-image: var(--mask-image,none);
  -webkit-mask-position: var(--mask-position,0);
  mask-position: var(--mask-position,0);
  -webkit-mask-size: var(--mask-size,100%);
  mask-size: var(--mask-size,100%);
  -webkit-mask-repeat: var(--mask-repeat,no-repeat);
  mask-repeat: var(--mask-repeat,no-repeat);
  pointer-events: var(--fill-layer-background-media-pointer-events);
}

.colorUnderlay, .bgLayers {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}


.colorUnderlay {
  background-color: var(--bg-overlay-color);
  background-image: var(--bg-gradient);
}

.bgMedia {
  height: 100%;
}

#comp-l2lk0o9u {
  --brw: 0px;
  --brd: var(--color_15);
  --bg: 255,255,255;
  --rd: 0px;
  --shd: none;
  --alpha-bg: 0;
  --alpha-brd: 0;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 128,128,128;
}

#comp-l2lk0o9u {
  width: 32.4373484236055%;
  height: max-content;
  align-self: center;
  justify-self: center;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0%;
  margin-left: 3.4635206143896524%;
  grid-area: 1/1/2/2;
}

.comp-l2lk0o9u-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.containerBorder {
  --container-corvid-border-color: rgba(var(--brd,var(--color_15)),var(--alpha-brd,1));
  --container-corvid-border-size: var(--brw,1px);
  --container-corvid-background-color: rgba(var(--bg,var(--color_11)),var(--alpha-bg,1));
}

.listContainerCSS {
  border: var(--container-corvid-border-width,var(--brw,1px)) solid var(--container-corvid-border-color,rgba(var(--brd,var(--color_15)),var(--alpha-brd,1)));
  background-color: var(--container-corvid-background-color,rgba(var(--bg,var(--color_11)),var(--alpha-bg,1)));
  border-radius: var(--rd,5px);
  box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#comp-l2lk0oa1 {
  --item-size: 30px;
  --item-margin: 0 8px 0 0;
  --item-display: inline-block;
  --flex-direction: row;
}

#comp-l2lk0oa1 {
  height: auto;
  width: 16.645126957579443%;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 33.78125px;
  align-self: center;
  order: 1;
}

._3WZb8 {
  display: var(--display);
  --display: table;
}

._3WZb8 ._2upBq {
  display: flex;
  flex-direction: var(--flex-direction);
}

ol, ul {
  list-style: none;
}

._3WZb8 ._2upBq ._2lHsw {
  display: var(--item-display);
  width: var(--item-size);
  height: var(--item-size);
  margin: var(--item-margin);
}

._3WZb8 ._2upBq ._2lHsw ._2MTXI {
  display: block;
}

._3WZb8 ._2upBq ._2lHsw ._2MTXI .t7wUO {
  width: var(--item-size);
  height: var(--item-size);
}

._1-6YJ {
  width: 100%;
  height: 100%;
  display: block;
}

#site-root img:not([src]) {
  visibility: hidden;
}

._3WZb8 ._2upBq ._2lHsw:last-child {
  margin: 0;
}

._3WZb8 ._2upBq ._2lHsw {
  display: var(--item-display);
  width: var(--item-size);
  height: var(--item-size);
  margin: var(--item-margin);
}

#comp-l2lk0oa9 {
  --brw: 0px;
  --brd: var(--color_15);
  --bg: 255,255,255;
  --rd: 0px;
  --shd: none;
  --alpha-brd: 0;
  --alpha-bg: 0;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 128,128,128;
}

#comp-l2lk0oa9 {
  width: 100.00380112513304%;
  height: max-content;
  position: relative;
  margin-left: 0.011403375399118138%;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
  order: 2;
}

.comp-l2lk0oa9-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

._3Fes4 {
  --container-corvid-border-color: rgba(var(--brd,var(--color_15)),var(--alpha-brd,1));
  --container-corvid-border-size: var(--brw,1px);
  --container-corvid-background-color: rgba(var(--bg,var(--color_11)),var(--alpha-bg,1));
} 

._2l-6d {
  border: var(--container-corvid-border-width,var(--brw,1px)) solid var(--container-corvid-border-color,rgba(var(--brd,var(--color_15)),var(--alpha-brd,1)));
  background-color: var(--container-corvid-background-color,rgba(var(--bg,var(--color_11)),var(--alpha-bg,1)));
  border-radius: var(--rd,5px);
  box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#comp-l2lk0oae {
  --textAlign: center;
  --textDecoration: none;
  --color: var(--color_11);
  --alpha-color: 1;
  --fontSize: 13px;
}

#comp-l2lk0oae {
  height: auto;
  width: 71.98297160667452%;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 21.578125px;
  align-self: center;
  order: 1;
}

#comp-l2lk0oae p, #comp-l2lk0oae h1, #comp-l2lk0oae h2, #comp-l2lk0oae h3, #comp-l2lk0oae h4, #comp-l2lk0oae h5, #comp-l2lk0oae h6, #comp-l2lk0oae ul, #comp-l2lk0oae ol {
  color: #FFFFFF;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
}

.font_7 {
  font: var(--font_7);
  color: rgb(var(--color_15));
  letter-spacing: 0em;
}

.textRules, a {
  color: inherit;
}

#comp-l2lk0oam {
  --color: var(--color_11);
  --alpha-color: 1;
  --textAlign: center;
}

#comp-l2lk0oam {
  height: auto;
  min-width: 0px;
  width: 100.00380098065301%;
  position: relative;
  margin-left: 0.011402941959025428%;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
  order: 2;
}

#comp-l2lk0oam p, #comp-l2lk0oam h1, #comp-l2lk0oam h2, #comp-l2lk0oam h3, #comp-l2lk0oam h4, #comp-l2lk0oam h5, #comp-l2lk0oam h6, #comp-l2lk0oam ul, #comp-l2lk0oam ol {
  color: #FFFFFF;
  text-align: center;
}

.nvemy-container {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: minmax(0px,1fr);
}

#comp-ka50ygrl {
  --bg: var(--color_11);
  --alpha-bg: 0;
}

#comp-ka50ygrl {
  --pinned-layer-in-container: 49;
  --above-all-in-container: 49;
}

#comp-ka50ygrl {
  height: auto;
  width: auto;
  align-self: stretch;
  justify-self: stretch;
  position: relative;
  grid-area: 1/1/2/2;
}

nav_header {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

#nav_bar {
  --bg: var(--color_11);
  --alpha-bg: 1;
}

#nav_bar {
  height: auto;
  max-height: 99999px;
  min-height: 100px; 
  align-self: stretch;
  justify-self: stretch;
  position: relative;
  grid-area: 1/1/2/2;
}

.nav_bar-content {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

#nav_bar-text {
  --fontSize: 11px;
  --lineHeight: 1.6em;
  --letterSpacing: 0em;
  --fontFamily: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
  --color: var(--color_15);
  --alpha-color: 1;
  --textAlign: center;
  --fontWeight: bold;
}

#nav_bar-text {
  height: auto;
  width: 371px;
  align-self: start;
  justify-self: center;
  position: relative;
  margin-left: 0%;
  margin-right: 0.8314732142857143%;
  margin-top: 23.765625px;
  margin-bottom: 0px;
  grid-area: 1/1/2/2;
}

#nav_bar-text p, #nav_bar-text h1, #nav_bar-text h2, #nav_bar-text h3, #nav_bar-text h4, #nav_bar-text h5, #nav_bar-text h6, #nav_bar-text ul, #nav_bar-text ol {
  color: #262626;
  font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0em;
  line-height: 1.6;
}

.font_8 {
  font: var(--font_8);
  color: rgb(var(--color_15));
  letter-spacing: 0em;
}

#nav_bar-toggle {
  --opacity: 1;
}

#nav_bar-toggle {
  height: 63.41796875px;
  width: 63.41796875px;
  align-self: center;
  justify-self: end;
  position: relative;
  margin-left: 0%;
  margin-right: 4.815076798706548%;
  margin-top: 0px;
  margin-bottom: 0px;
  grid-area: 1/1/2/2;
}

._2wYm8 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

._3bLYT, ._3bLYT svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

._3bLYT {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: var(--opacity);
  fill: var(--fill);
  fill-opacity: var(--fill-opacity);
  stroke: var(--stroke);
  stroke-opacity: var(--stroke-opacity);
  stroke-width: var(--stroke-width);
  transform: var(--flip);
  filter: var(--drop-shadow,none);
}

.N1N2o {
  cursor: pointer;
}

._3bLYT svg {
  width: var(--svg-calculated-width,100%);
  height: var(--svg-calculated-height,100%);
  padding: var(--svg-calculated-padding,0);
  margin: auto;
}

._3bLYT, ._3bLYT svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

._2OIRR * {
  vector-effect: non-scaling-stroke;
}

._2OIRR * {
  vector-effect: non-scaling-stroke;
}  */
