/* ! CSS Used from: Embedded */
div,h2,img,section,span{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;}
:focus{outline:none;}
/*! CSS Used from: Embedded */
._3SQN-,._3wnIc{position:absolute;top:0;width:100%;height:100%;}
._3wnIc{left:0;overflow:hidden;-webkit-mask-image:var(--mask-image,none);mask-image:var(--mask-image,none);-webkit-mask-position:var(--mask-position,0);mask-position:var(--mask-position,0);-webkit-mask-size:var(--mask-size,100%);mask-size:var(--mask-size,100%);-webkit-mask-repeat:var(--mask-repeat,no-repeat);mask-repeat:var(--mask-repeat,no-repeat);pointer-events:var(--fill-layer-background-media-pointer-events);}
._2GUhU{height:100%;}
._3KzuS{background-color:var(--bg-overlay-color);background-image:var(--bg-gradient);}
/*! CSS Used from: Embedded */
._1Q9if h2{line-height:normal;letter-spacing:normal;}
._1Q9if{word-wrap:break-word;overflow-wrap:break-word;text-align:start;pointer-events:none;min-height:var(--min-height);min-width:var(--min-width);}
._1Q9if>*{pointer-events:auto;}
._1Q9if h2{margin:0;}
/*! CSS Used from: Embedded */
._1x22G{overflow:hidden;background-color:rgba(var(--backgroundColor,var(--color_8)),var(--alpha-backgroundColor,1));border-color:rgba(var(--borderColor,var(--color_8)),var(--alpha-borderColor,1));border-width:var(--borderWidth,0);border-style:solid;border-radius:var(--cornerRadius,0);box-shadow:var(--boxShadow,none);}
._1x22G wix-image{position:absolute;top:0;bottom:0;left:0;right:0;opacity:var(--mediaOpacity,1);}
._1x22G img,._1x22G wix-image{width:100%;height:100%;}
/*! CSS Used from: Embedded */
._3uJnK{background-color:rgba(var(--bg,var(--color_11)),var(--alpha-bg,1));}
/*! CSS Used from: Embedded */
.font_2{font:var(--font_2);color:rgb(var(--color_15));letter-spacing:0em;}
.backcolor_16{background-color:rgb(var(--color_16));}
/*! CSS Used from: Embedded */
#comp-l7kn5ae1{height:auto;width:38.235732009925556%;align-self:center;justify-self:center;position:relative;margin-left:0%;margin-right:5.9753670388751035%;margin-top:0px;margin-bottom:0px;grid-area:1/1/2/2;}
#comp-l7knuxuv{min-width:0px;width:35.395193490154035%;align-self:end;justify-self:center;position:relative;margin-left:1.1312217194570136%;margin-right:0%;margin-top:0px;margin-bottom:-131.14206772648072px;grid-area:1/1/2/2;}
#comp-l7knxrj8{min-width:0px;width:35.395193490154035%;align-self:end;justify-self:end;position:relative;margin-left:0%;margin-right:-18.47223440267288%;margin-top:0px;margin-bottom:-82.89351045296166px;grid-area:1/1/2/2;}
#comp-l7ko0fai{min-width:0px;width:13.173981596360628%;align-self:center;justify-self:end;position:relative;margin-left:0%;margin-right:23.63555882961125%;margin-top:0px;margin-bottom:0px;grid-area:1/1/2/2;}
#comp-l7kn4r24{height:auto;min-height:500px;align-self:stretch;justify-self:stretch;position:relative;grid-area:4/1/5/2;}
.comp-l7kn4r24-container{box-sizing:border-box;display:grid;grid-template-rows:1fr;grid-template-columns:1fr;}
@media (min-width: 320px) and (max-width: 1680px){
#comp-l7kn5ae1{width:56.98941836349925%;justify-self:end;margin-right:14.81782616892911%;}
#comp-l7knuxuv{width:18.431579673279128%;justify-self:end;margin-left:0%;margin-right:0%;margin-bottom:7.90625px;}
#comp-l7knxrj8{width:19.168069632712452%;align-self:start;justify-self:start;margin-right:0%;margin-top:72.6171875px;margin-bottom:0px;}
#comp-l7ko0fai{width:0.34474129349656607%;align-self:end;justify-self:start;margin-right:0%;margin-bottom:7.8984375px;}
#comp-l7kn4r24{grid-area:4/1/5/2;}
}
@media (min-width: 320px) and (max-width: 1000px){
#comp-l7kn5ae1{width:69.04154216467464%;justify-self:end;margin-right:2.764981739707835%;}
#comp-l7knuxuv{justify-self:end;margin-left:0%;margin-right:0.07677622841965472%;margin-bottom:34.90625px;}
#comp-l7kn4r24{grid-area:3/1/4/2;}
}
@media (min-width: 320px) and (max-width: 750px){
#comp-l7kn5ae1{justify-self:end;margin-right:9.565217391304348%;}
#comp-l7kn4r24{grid-area:3/1/4/2;}
}
@media (max-width: 319px){
#comp-l7knuxuv{display:none!important;visibility:hidden;height:auto;}
#comp-l7knuxuv::before{content:attr(x);display:block;padding-top:66.66666666666666%;}
#comp-l7knxrj8{display:none!important;visibility:hidden;height:auto;}
#comp-l7knxrj8::before{content:attr(x);display:block;padding-top:66.66666666666666%;}
#comp-l7ko0fai{height:auto;}
#comp-l7ko0fai::before{content:attr(x);display:block;padding-top:100.56899004267426%;}
}
@media (min-width: 1681px){
#comp-l7knuxuv{display:none!important;visibility:hidden;height:auto;}
#comp-l7knuxuv::before{content:attr(x);display:block;padding-top:66.66666666666666%;}
#comp-l7knxrj8{display:none!important;visibility:hidden;height:auto;}
#comp-l7knxrj8::before{content:attr(x);display:block;padding-top:66.66666666666666%;}
#comp-l7ko0fai{height:auto;}
#comp-l7ko0fai::before{content:attr(x);display:block;padding-top:100.56899004267426%;}
}
@media (min-width: 320px) and (max-width: 1680px){
#comp-l7knuxuv{height:auto;}
#comp-l7knuxuv::before{content:attr(x);display:block;padding-top:99.0600573859701%;}
#comp-l7knxrj8{height:auto;}
#comp-l7knxrj8::before{content:attr(x);display:block;padding-top:94.51808118081175%;}
#comp-l7ko0fai{height:auto;}
#comp-l7ko0fai::before{content:attr(x);display:block;padding-top:100.5670103092724%;}
}
#comp-l7kn5ae1{--textDecoration:none;--fontStyle:normal;--textAlign:left;--fontFamily:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;--fontSize:60px;}
#comp-l7kn5ae1 h2{font-family:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;font-size:60px;font-style:normal;text-decoration:none;text-align:left;}
#comp-l7knuxuv{--backgroundColor:0,0,0;--borderColor:255,255,255;--alpha-borderColor:1;--borderWidth:0px;--cornerRadius:0px;--boxShadow:none;--mediaOpacity:1;--alpha-backgroundColor:0;--boxShadowToggleOn-boxShadow:none;}
#comp-l7knxrj8{--backgroundColor:0,0,0;--borderColor:255,255,255;--alpha-borderColor:1;--borderWidth:0px;--cornerRadius:0px;--boxShadow:none;--mediaOpacity:1;--alpha-backgroundColor:0;--boxShadowToggleOn-boxShadow:none;}
#comp-l7ko0fai{--backgroundColor:0,0,0;--borderColor:255,255,255;--alpha-borderColor:1;--borderWidth:0px;--cornerRadius:0px;--boxShadow:none;--mediaOpacity:1;--alpha-backgroundColor:0;--boxShadowToggleOn-boxShadow:none;}
#comp-l7kn4r24{--bg:var(--color_11);--alpha-bg:0;--bg-overlay-color:transparent;--bg-gradient:none;}
@media (min-width: 320px) and (max-width: 1680px){
#comp-l7knuxuv{--backgroundColor:0,0,0;--borderColor:255,255,255;--alpha-borderColor:1;--borderWidth:0px;--cornerRadius:0px;--boxShadow:none;--mediaOpacity:1;--alpha-backgroundColor:0;--boxShadowToggleOn-boxShadow:none;}
#comp-l7knuxuv{--minViewportSize:320;--maxViewportSize:1680;}
}
@media (min-width: 320px) and (max-width: 1000px){
#comp-l7kn5ae1{--textDecoration:none;--fontStyle:normal;--textAlign:left;--fontFamily:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;--fontSize:40px;}
#comp-l7kn5ae1 h2{font-size:40px!important;}
#comp-l7kn5ae1{--minViewportSize:320;--maxViewportSize:1000;}
}
@media (min-width: 320px) and (max-width: 750px){
#comp-l7kn5ae1{--textDecoration:none;--fontStyle:normal;--textAlign:left;--fontFamily:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;--fontSize:20px;}
#comp-l7kn5ae1 h2{font-size:20px!important;}
#comp-l7kn5ae1{--minViewportSize:320;--maxViewportSize:750;}
}
/*! CSS Used from: Embedded */
#comp-l7knuxuv img{height:100%;}
/*! CSS Used from: Embedded */
#comp-l7knxrj8 img{height:100%;}
/*! CSS Used from: Embedded */
#comp-l7ko0fai img{height:100%;}