#our_work {
    height: auto;
    width: auto;
    top: calc(var(--top) + var(--sticky-top) * var(--is-sticky));
    align-self: stretch;
    justify-self: stretch;
    grid-area: 5/1/6/2;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
    --alpha-bg: 0;
    --bg: var(--color_11);
}

.our_work-container {
    box-sizing: border-box;
    display: var(--l_display, var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    --container-display: grid;
}

.container_pointer_event {
    pointer-events: var(--ref-container-pointer-events) !important;
}

.container_pointer_event>* {
    pointer-events: auto;
}

#our_work_section {
    height: auto;
    min-height: 343.1171875px;
    top: calc(var(--top) + var(--sticky-top) * var(--is-sticky));
    align-self: stretch;
    justify-self: stretch;
    grid-area: 1/1/2/2;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
    --bg: 255, 255, 255;
    --alpha-bg: 1;
}

.our_work_section-container {
    box-sizing: border-box;
    display: var(--l_display, var(--container-display));
    grid-template-rows: minmax(343.117px, max-content);
    grid-template-columns: 1fr 0.7fr;
    --container-display: grid;
}

#our_work_text-container {
    height: auto;
    width: 90.67036819415198%;
    --l_display: unset;
    top: calc(var(--top) + var(--sticky-top) * var(--is-sticky));
    display: var(--l_display, var(--display));
    align-self: center;
    justify-self: center;
    margin-left: 0%;
    margin-right: 0.6459242485260747%;
    margin-top: -26.09400000000005px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
    --fontStyle: normal;
    --color: var(--color_15);
    --alpha-color: 1;
    --textScale__minFontSize: 35;
    --fontWeight: normal;
    --fontSize: 85px;
    --fontFamily: lulo-clean-w01-one-bold, lulo-clean-w05-one-bold, sans-serif;
    --textScale__maxFontSize: 65;
    --textAlign: left;
    --lineHeight: 1.4em;
    --letterSpacing: 0em;
}

#our_work_text-container p,
#our_work_text-container h1,
#our_work_text-container h2,
#our_work_text-container h3,
#our_work_text-container h4,
#our_work_text-container h5,
#our_work_text-container h6,
#our_work_text-container ul,
#our_work_text-container ol {
    color: #262626;
    font-family: lulo-clean-w01-one-bold, lulo-clean-w05-one-bold, sans-serif;
    font-weight: normal;
    font-size: calc(35px + (65 - 35) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-style: normal;
    text-align: left;
    letter-spacing: 0em;
    line-height: 1.4;
    min-height: 0vw;
}

#our_work_link {
    min-height: 245px;
    --l_display: unset;
    height: auto;
    min-width: 0px;
    width: 245px;
    max-width: 99999px;
    top: calc(var(--top) + var(--sticky-top) * var(--is-sticky));
    display: var(--l_display, var(--display));
    align-self: start;
    justify-self: end;
    margin-left: 0px;
    margin-right: 186.21856249999996px;
    margin-top: 4.598243953884828%;
    margin-bottom: 0%;
    grid-area: 1/2/2/3;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
    --rd: 999px 999px 999px 999px;
    --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    --shd: none;
    --horizontalPadding: 15px;
    --verticalPadding: 10px;
    --fnt: normal normal bold 16px/1.4em barlow-extralight, barlow, sans-serif;
    --trans2: color 0.4s ease 0s;
    --txt: var(--color_15);
    --alpha-txt: 1;
    --bg: var(--color_31);
    --brd: var(--color_15);
    --brw: 1px;
    --bgh: var(--color_15);
    --brdh: var(--color_11);
    --txth: var(--color_11);
    --alpha-txth: 1;
    --bgd: 204, 204, 204;
    --txtd: 255, 255, 255;
    --alpha-txtd: 1;
    --alpha-bgd: 1;
    --alpha-brdd: 1;
    --alpha-brdh: 1;
    --alpha-brd: 1;
    --alpha-bg: 1;
    --alpha-bgh: 1;
    --boxShadowToggleOn-shd: none;
    --brdd: 204, 204, 204;
    --shc-mutated-brightness: 80, 113, 101;
    --label-align: center;
    --label-text-align: center;
}