/*! CSS Used from: Embedded */
/* ._3SQN-,._3wnIc{position:absolute;top:0;width:100%;height:100%;}
._3wnIc{left:0;overflow:hidden;-webkit-mask-image:var(--mask-image,none);mask-image:var(--mask-image,none);-webkit-mask-position:var(--mask-position,0);mask-position:var(--mask-position,0);-webkit-mask-size:var(--mask-size,100%);mask-size:var(--mask-size,100%);-webkit-mask-repeat:var(--mask-repeat,no-repeat);mask-repeat:var(--mask-repeat,no-repeat);pointer-events:var(--fill-layer-background-media-pointer-events);} */
/* ._2GUhU{height:100%;} */
/* ._3KzuS{background-color:var(--bg-overlay-color);background-image:var(--bg-gradient);} */
/* ! CSS Used from: Embedded
._3uJnK{background-color:rgba(var(--bg,var(--color_11)),var(--alpha-bg,1));}
/*! CSS Used from: Embedded */
/* ._3uJnK{background-color:rgba(var(--bg,var(--color_11)),var(--alpha-bg,1));} */
/*! CSS Used from: Embedded */
/* ._3uJnK{background-color:rgba(var(--bg,var(--color_11)),var(--alpha-bg,1));} */ */
/*! CSS Used from: Embedded */
/* ._3Fes4{--container-corvid-border-color:rgba(var(--brd,var(--color_15)),var(--alpha-brd,1));--container-corvid-border-size:var(--brw,1px);--container-corvid-background-color:rgba(var(--bg,var(--color_11)),var(--alpha-bg,1));} */
/* ._2l-6d{border:var(--container-corvid-border-width,var(--brw,1px)) solid var(--container-corvid-border-color,rgba(var(--brd,var(--color_15)),var(--alpha-brd,1)));background-color:var(--container-corvid-background-color,rgba(var(--bg,var(--color_11)),var(--alpha-bg,1)));border-radius:var(--rd,5px);box-shadow:var(--shd,0 1px 4px rgba(0,0,0,.6));position:absolute;top:0;right:0;bottom:0;left:0;} */
/*! CSS Used from: Embedded */
.servicesContent{background-color:var(--container-corvid-background-color,rgba(var(--bg,var(--color_11)),var(--alpha-bg,1)));}
/*! CSS Used from: Embedded */
/* .font_2{font:var(--font_2);color:rgb(var(--color_15));letter-spacing:0em;} */
.font_8{font:var(--font_8);color:rgb(var(--color_15));letter-spacing:0em;font-size: 11px !important; color: black !important;}
/*! CSS Used from: Embedded */
[id^="serviceTitle__"]{height:auto;width:100%;position:relative;margin-left:0%;margin-right:0px;margin-top:0.015602170018841824px;margin-bottom:-0.0005447236922332976px;align-self:center;order:1;}
[id^="serviceList__"]{height:auto;width:92.48105578508351%;position:relative;margin-left:-7.5189442149164885%;margin-right:0px;margin-top:16.024549777365706px;margin-bottom:-0.0005447236922332976px;align-self:center;order:2;}
#servicesSection{height:auto;min-height:0px;align-self:stretch;justify-self:stretch;position:relative;grid-area:3/1/4/2;}
.servicesSection-container{box-sizing:border-box;display:grid;grid-template-rows:minmax(65.59614px,max-content) minmax(286.26566px,max-content) minmax(40.997585px,max-content);grid-template-columns:1fr;}
#servicesContent{min-height:0px;height:auto;min-width:0px;width:67.79661%;max-width:1200px;max-height:99999px;align-self:center;justify-self:end;position:relative;margin-left:0px;margin-right:460.3671875px;margin-top:0px;margin-bottom:0px;grid-area:2/1/3/2;}
#servicesContent .servicesContent-container{position:relative;box-sizing:border-box;row-gap:0%;column-gap:1.3303769401330376vw;display:flex;flex-direction:row;justify-content:center;flex-wrap:wrap;}
#servicesContent:not(.servicesContent-container){display:grid;grid-template-rows:1fr;grid-template-columns:minmax(0, 1fr);}
[id^="serviceContentContainer__"]{min-height:240px;height:auto;min-width:0px;width:calc(((33.3% - ((0px + 0px) + 0.887vw)) - 1px));position:relative;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;flex-basis:auto;flex-grow:0;flex-shrink:0;box-sizing:border-box;display:grid;grid-template-rows:minmax(240px,max-content);grid-template-columns:1fr;}
[id^="serviceContent__"]{height:auto;width:97.90629651642553%;max-width:399px;align-self:start;justify-self:start;position:relative;margin-left:-50.5625px;margin-right:0px;margin-top:-22.6796875px;margin-bottom:0px;grid-area:1/1/2/2;box-sizing:border-box;display:flex;flex-direction:column;}
@media (min-width: 320px) and (max-width: 1680px){
[id^="serviceTitle__"]{width:90.72681704260651%;margin-left:9.273182957393484%;}
[id^="serviceList__"]{width:85.96197525062657%;margin-left:-1.003485275689223%;}
#servicesSection{grid-area:3/1/4/2;}
.servicesSection-container{grid-template-columns:0.2969953775038521fr 0.7030046224961479fr;}
#servicesContent{min-width:0px;width:96.82865466101696%;max-width:1310px;align-self:start;margin-right:-142.80387500000006px;margin-top:-0.024312499999950887px;margin-bottom:-0.008074999999962529px;grid-area:1/1/3/3;}
}
@media (min-width: 320px) and (max-width: 1000px){
#servicesSection{grid-area:4/1/5/2;}
#servicesContent{min-width:700px;width:80%;max-width:1200px;align-self:end;margin-right:-7.7345624999999245px;margin-top:0px;margin-bottom:-0.007987500000126602px;grid-area:1/1/4/3;}
[id^="serviceContent__"]{width:86%;max-width:320px;}
}
@media (min-width: 320px) and (max-width: 750px){
#servicesSection{grid-area:4/1/5/2;}
#servicesContent{min-width:0px;width:80%;max-width:1200px;}
#servicesContent .servicesContent-container{flex-direction:column;justify-content:flex-start;flex-wrap:nowrap;}
[id^="serviceContentContainer__"]{width:100%;margin-top:0%;margin-bottom:0%;}
[id^="serviceContent__"]{margin-top:19.3359375px;}
}
[id^="serviceTitle__"]{--textAlign:left;--fontSize:45px;}
[id^="serviceTitle__"] h2{font-size:45px;text-align:left;}
[id^="serviceList__"]{--color:var(--color_15);--alpha-color:1;--textAlign:left;--letterSpacing:0.03em;--lineHeight:1.8em;--fontSize:16px;}
[id^="serviceList__"] p,[id^="serviceList__"] ul{color:#262626;font-size:16px;text-align:left;letter-spacing:0.03em;line-height:1.8;}
#servicesSection{--bg:var(--color_11);--alpha-bg:0;--bg-overlay-color:rgb(var(--color_16));--bg-gradient:none;}
#servicesContent{--brw:0px;--brd:50,65,88;--bg:61,155,233;--rd:0px;--shd:none;--alpha-brd:0;--alpha-bg:0;--boxShadowToggleOn-shd:none;}
[id^="serviceContentContainer__"]{--brw:0px;--brd:var(--color_15);--bg:var(--color_11);--rd:0px 0px 0px 0px;--shd:none;--alpha-brd:0;--alpha-bg:0;--boxShadowToggleOn-shd:none;--shc-mutated-brightness:128,128,128;}
[id^="serviceContent__"]{--brw:0px;--brd:var(--color_15);--bg:0,0,0;--rd:0px;--shd:none;--alpha-brd:0;--alpha-bg:0;--boxShadowToggleOn-shd:none;--shc-mutated-brightness:0,0,0,0;}
@media (min-width: 320px) and (max-width: 1680px){
[id^="serviceTitle__"]{--textAlign:left;--fontFamily:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;--fontSize:20px;--fontWeight:bold;}
[id^="serviceTitle__"] h2{font-family:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif!important;font-weight:bold!important;font-size:20px!important;}
[id^="serviceList__"]{--color:var(--color_15);--alpha-color:1;--textAlign:left;--letterSpacing:0.03em;--lineHeight:1.8em;--fontSize:16px;}
[id^="serviceTitle__"]{--minViewportSize:320;--maxViewportSize:1680;}
[id^="serviceList__"]{--minViewportSize:320;--maxViewportSize:1680;}
}
@media (min-width: 320px) and (max-width: 1000px){
[id^="serviceTitle__"]{--textAlign:left;--fontFamily:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;--fontSize:15px;--fontWeight:bold;}
[id^="serviceTitle__"] h2{font-family:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif!important;font-weight:bold!important;font-size:15px!important;}
[id^="serviceTitle__"]{--minViewportSize:320;--maxViewportSize:1000;}
}
@media (min-width: 320px) and (max-width: 750px){
[id^="serviceTitle__"]{--textAlign:left;--fontFamily:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;--fontSize:15px;--fontWeight:bold;}
[id^="serviceTitle__"] h2{font-family:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif!important;font-weight:bold!important;font-size:15px!important;}
[id^="serviceList__"]{--color:var(--color_15);--alpha-color:1;--textAlign:left;--letterSpacing:0.03em;--lineHeight:1.8em;--fontSize:16px;}
[id^="serviceTitle__"]{--minViewportSize:320;--maxViewportSize:750;}
[id^="serviceList__"]{--minViewportSize:320;--maxViewportSize:750;}
}