#wb_section {
    height: auto;
    min-height: 353px;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-top-height) * var(--is-sticky));
    align-self: stretch;
    justify-self: stretch;
    grid-area: 2/1/3/2;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
    --bg: var(--color_11);
    --alpha-bg: 0;
    --bg-overlay-color: transparent;
    --bg-gradient: none;
}

@media screen and (min-width: 320px) and (max-width: 1680px) {
    #wb_section {
        min-height: 500px;
        --l_display: unset;
    }
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
    #wb_section {
        --l_display: unset;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #wb_section {
        --l_display: unset;
    }
}

.wb_section_container {
    box-sizing: border-box;
    display: var(--l_display, var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    --container-display: grid;
}

/* Identical CSS rules coming from .bg_layers in index.css */
/* #wb_bg_layers {
    left: 0;
    -webkit-mask-image: var(--mask-image, none);
    mask-image: var(--mask-image, none);
    -webkit-mask-position: var(--mask-position, 0);
    mask-position: var(--mask-position, 0);
    -webkit-mask-repeat: var(--mask-repeat, no-repeat);
    mask-repeat: var(--mask-repeat, no-repeat);
    -webkit-mask-size: var(--mask-size, 100%);
    mask-size: var(--mask-size, 100%);
    overflow: hidden;
    pointer-events: var(--fill-layer-background-media-pointer-events);
} */

#wb_iframe_container {
    min-height: 475.2421875px;
    --l_display: unset;
    height: auto;
    min-width: 0px;
    width: 103.13297193877551%;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-top-height) * var(--is-sticky));
    display: var(--l_display, var(--display));
    align-self: start;
    justify-self: end;
    margin-left: 0px;
    margin-right: -5.09375px;
    margin-top: -8.046875px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
}

@media screen and (min-width: 320px) and (max-width: 1680px) {
    #wb_iframe_container {
        min-height: 0px;
        width: auto;
        align-self: stretch;
        justify-self: stretch;
        margin-right: 0px;
        margin-top: 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #wb_iframe_container {
        width: auto;
        min-height: 0px;
        align-self: stretch;
        justify-self: stretch;
        margin-right: 0px;
        margin-top: 0px;
    }
}

.iframe_content_container {
    width: 100%;
    height: 100%;
}

.iframe_content {
    position: absolute;
}

#logo_container {
    --l_display: unset;
    height: auto;
    min-width: 0px;
    width: 11.043325155160927%;
    min-height: 0px;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-top-height) * var(--is-sticky));
    display: var(--l_display, var(--display));
    align-self: start;
    justify-self: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 14.0546875px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
    --backgroundColor: 0, 0, 0;
    --borderColor: 255, 255, 255;
    --alpha-borderColor: 1;
    --borderWidth: 0px;
    --cornerRadius: 0px;
    --boxShadow: none;
    --mediaOpacity: 1;
    --alpha-backgroundColor: 0;
    --boxShadowToggleOn-boxShadow: none;
}

@media screen and (min-width: 320px) and (max-width: 1680px) {
    #logo_container {
        margin-right: 30px;
        margin-top: 24.703125px;
        margin-bottom: -26.046875px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #logo_container {
        width: 22.23845570949345%;
        margin-right: 0px;
        margin-top: 11.0546875px;
        margin-bottom: 0px;
    }
}

#logo_container::before {
    --aspect-ratio: 0.38144063415474727;
    content: attr(x);
    display: block;
    padding-top: calc(var(--aspect-ratio) * 100%);
}

#logo_container img {
    height: 100%;
}

#logoContainer image {
    bottom: 0;
    left: 0;
    opacity: var(--mediaOpacity, 1);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.logo {
    background-color: rgba(var(--backgroundColor, var(--color_8)),
            var(--alpha-backgroundColor, 1));
    border-color: rgba(var(--borderColor, var(--color_8)),
            var(--alpha-borderColor, 1));
    border-radius: var(--cornerRadius, 0);
    border-style: solid;
    border-width: var(--borderWidth, 0);
    box-shadow: var(--boxShadow, none);
    box-sizing: border-box;
    overflow: hidden;
}

.logo image {
    bottom: 0;
    left: 0;
    opacity: var(--mediaOpacity, 1);
    position: absolute;
    right: 0;
    top: 0;
}

.logo image, .logo img {
    height: 100%;
    width: 100%;
}


/*
@media (min-width: 320px) and (max-width: 1680px) {
    #wb_iframe_container {
        min-height: 0px;
        width: auto;
        align-self: stretch;
        justify-self: stretch;
        margin-right: 0px;
        margin-top: 0px;
    }

    #logo_container {
        margin-right: 30px;
        margin-top: 24.703125px;
        margin-bottom: -26.046875px;
    }

     #welcomeBanner {
        min-height: 500px;
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #welcomeBannerContent {
        width: auto;
        min-height: 0px;
        align-self: stretch;
        justify-self: stretch;
        margin-right: 0px;
        margin-top: 0px;
    }

    #logoContainer {
        width: 22.23845570949345%;
        margin-right: 0px;
        margin-top: 11.0546875px;
        margin-bottom: 0px;
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #logoContainer {
        height: auto;
    }

    #logoContainer::before {
        content: attr(x);
        display: block;
        padding-top: 38.12551271534042%;
    }
}

@media (max-width: 319px) {
    #logoContainer {
        height: auto;
    }

    #logoContainer::before {
        content: attr(x);
        display: block;
        padding-top: 38.144063415474726%;
    }
}

@media (min-width: 751px) {
    #logoContainer {
        height: auto;
    }

    #logoContainer::before {
        content: attr(x);
        display: block;
        padding-top: 38.144063415474726%;
    } 
}*/